$gray-0: #facffa;
$gray-1: #f9c5f9;
$gray-2: #ece;
$gray-3: #dbd;
$gray-4: #c9c;
$gray-5: #b8b;
$gray-6: #875887;
$gray-7: #764876;
$gray-8: #513851;
$gray-9: #311931;

$white: #fff;
$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #167bc2;
$brown: #8f5536;

$root-font-family: "InterVariable", system-ui, sans-serif;

$root-font-size: 1rem;
$root-font-weight: 400;
$root-line-height: 1.6em;

$large-font-size: 1.1rem;
$small-device-font-size: $root-font-size;
$large-device-font-size: $large-font-size;

// heading
$heading-font-weight: 400;
$h1-font-size: 2.15rem;
$h1-line-height: 1.25;
$h2-font-size: 1.85rem;
$h3-font-size: 1.5rem;
$h4-font-size:1.3rem;
$h5-font-size:1rem;

// topbar
$topbar-title-font-size: 1.5rem;
$topbar-links-font-size: 1rem;
$topbar-height: 3rem;
$topbar-offset: 0.75rem;
$topbar-max-width: 100rem;

//copyright/poweredby
$credit-font-size: 0.7rem;

//description
$description-font-size: 1.5rem;

//content
$small-device-content-padding: 0.5rem; 
$large-device-content-padding: 1rem; 

//artwork
$meta-font-size: 0.8rem;
$tag-font-size: 0.8rem;

//gallery
$thumbnail-info-color: $white;
$thumbnail-info-font-size: 1.3rem;
$thumbnail-info-font-weight: 400;

/*** light mode ***/
$body-color: $gray-9;
$body-background-color: #fff;

//links
$link-color: $gray-6;
$link-hover-color: $blue;

//topbar
$topbar-background-color: $gray-8;
$topbar-link-color: $gray-2;
$topbar-link-hover-color: $gray-5;

//artwork
$meta-color: $gray-7;
$tag-color: $white;
$tag-background-color: $gray-6;
$tag-hover-background-color: $body-color;

/*** dark mode ***/
$body-color-dark: $gray-3;
$body-background-color-dark: $gray-9;

//links
$link-color-dark: $gray-6;
$link-hover-color-dark: $blue;

//topbar
$topbar-background-color-dark: $gray-7;
$topbar-link-color-dark: $gray-2;
$topbar-link-hover-color-dark: $gray-8;

//artwork
$meta-color-dark: $gray-7;
$tag-color-dark: $white;
$tag-background-color-dark: $gray-6;
$tag-hover-background-color-dark: $body-color-dark;

